In [4]:
1c = 5

SyntaxError: invalid syntax (<ipython-input-4-9c42d11167a6>, line 1)

In [3]:
type(c)

int

In [5]:
welcome = "Welcome to the course"
WELCOME = "Hello World"

In [6]:
print(welcome)

Welcome to the course

In [7]:
print(WELCOME)

Hello World

## Typecasting

#### Changing one data type to another datatype is called as Typecasting

In [8]:
int_num = 10

In [9]:
float_num = 10.5

In [10]:
string = "Welcome"

In [12]:
boolean = True

In [13]:
print(type(int_num))

<class 'int'>

In [14]:
print(type(float_num))

<class 'float'>

In [15]:
print(type(string))

<class 'str'>

In [16]:
print(type(boolean))

<class 'bool'>

In [18]:
new_int = int(float_num)
print(new_int)
print(type(new_int))
print(type(float_num))

10
<class 'int'>
<class 'float'>

## Arithmetic Operations

In [20]:
a = 5
b = 7
c = a+b
print("Addition = ", c)

Addition =  12

In [21]:
a = 5
b = 7
c = a-b
print("Sub = ", c)

Sub =  -2

In [22]:
print("Multiplication = ", a*b)

Multiplication =  35

In [23]:
print("Division = ", a/b)

Division =  0.7142857142857143

In [24]:
print(a//b)

0

In [25]:
print(a**b)

78125

### String Operations

In [27]:
s = "Welcome to the Python Course"

In [29]:
print(s)

Welcome to the Python Course

In [30]:
s[0]

'W'

In [31]:
s[1]

'e'

In [32]:
s[-1]

'e'

In [33]:
s[-3]

'r'

In [34]:
len(s)

28

In [37]:
firstName = 'Satyajit'
lastName = 'Pattnaik'

fullName = firstName + lastName
print(fullName)

SatyajitPattnaik

In [38]:
firstName = 'Satyajit '
lastName = 'Pattnaik'

fullName = firstName + lastName
print(fullName)

Satyajit Pattnaik

In [39]:
firstName = 'Satyajit'
lastName = ' Pattnaik'

fullName = firstName + lastName
print(fullName)

Satyajit Pattnaik

In [40]:
firstName = 'Satyajit'
lastName = 'Pattnaik'

fullName = firstName + " " + lastName
print(fullName)

Satyajit Pattnaik

In [41]:
s = "I love Python"

In [47]:
new_s = "Welcome to the Python Course"

In [45]:
s[0:6]

'I love'

In [50]:
new_s[0:21]

'Welcome to the Python'

In [51]:
s[7:]

'Python'

In [53]:
str_rep = 'abc'
print(str_rep*4)

abcabcabcabc

In [54]:
Sentence = "MS Dhoni is my favourite cricketer"

In [55]:
Sentence.count('i')

4

#### String Methods --> upper(), lower(), strip()

In [56]:
print(Sentence.lower())

ms dhoni is my favourite cricketer

In [57]:
print(Sentence.upper())

MS DHONI IS MY FAVOURITE CRICKETER

In [58]:
spaces = '        Try to cut down the spaces'

In [60]:
print(spaces.strip())

Try to cut down the spaces

In [61]:
junk = "********************555111######"

In [63]:
print(junk.rstrip('#').lstrip('*'))

555111