## Data Structure

### Tuples

In [10]:
tup1 = ("Physics", 90, 100, "Biology")
type(tup1)

tuple

In [4]:
list1 = ["Physics", 90, 100, "Biology"]
type(list1)

list

In [6]:
list1[0]

'Physics'

In [7]:
tup1[0]

'Physics'

In [8]:
list1[0] = 'Chemistry'
print(list1)

['Chemistry', 90, 100, 'Biology']

In [13]:
tup1[0] = 'Chemistry'

TypeError: 'tuple' object does not support item assignment

In [14]:
print(tup1)

('Physics', 90, 100, 'Biology')

In [16]:
new_tuple = 1,2,3,4
type(new_tuple)

tuple

In [18]:
variable_x = 1
type(variable_x)

int

In [19]:
variable_x = (1)
type(variable_x)

int

In [22]:
variable_x = (1,)
print(type(variable_x))
print(variable_x)

<class 'tuple'>
(1,)

#### Indexing in Tuples

In [23]:
tup1 = ("Physics", 90, 100, "Biology")

In [30]:
tup1

('Physics', 90, 100, 'Biology')

In [29]:
str_var = "Hello"
str_var[0]

'H'

In [31]:
tup1[0]

'Physics'

In [33]:
tup1[1]

90

#### Slicing in Tuples

In [34]:
tup1 = ("Physics", 90, 100, "Biology")

In [35]:
tup1[0:2]

('Physics', 90)

In [37]:
tup1[-2:]

(100, 'Biology')

#### Concatenation in Tuples

In [38]:
tup1 = ("This", "is", "a", "session")
tup2 = ("on", "tuples")

In [40]:
final_tup = tup1 + tup2
final_tup

('This', 'is', 'a', 'session', 'on', 'tuples')

#### Sum, min, max operations

In [41]:
tup1 = (1,2,3,4,5,10,20,7)

In [42]:
max(tup1)

20

In [43]:
min(tup1)

1

In [46]:
sum(tup1)

52

#### Sorting a tuple

In [47]:
tup1 = (4,2,3,1,5,10,20,7)

In [49]:
sorted(tup1)

[1, 2, 3, 4, 5, 7, 10, 20]

#### Nested Tuple

In [50]:
tuple1 = (1,2,5,10, "Biology", ("Python", "Java"))

In [52]:
type(tuple1)

tuple

In [53]:
tuple1

(1, 2, 5, 10, 'Biology', ('Python', 'Java'))

In [56]:
tuple1[-1][0]

'Python'

In [57]:
tuple1[5][0]

'Python'