## Data Structures

### Sets

In [2]:
set_1 = {1,2,3,4,10,15}
set_1

{1, 2, 3, 4, 10, 15}

In [3]:
set_1 = {1,2,3,4,10,15, 1, 2, 4}
set_1

{1, 2, 3, 4, 10, 15}

In [4]:
len(set_1)

6

In [7]:
set_2 = {1,2,3,4,10,15}
set_2.add(99)
set_2

{1, 2, 3, 4, 10, 15, 99}

In [8]:
set_2.remove(10)
set_2

{1, 2, 3, 4, 15, 99}

#### Set Operations: Union, Intersection, Difference, Symmetric Difference

In [9]:
set_1 = {1,2,3,4,10,15}
set_2 = {3,10,20,30}

In [10]:
print(set_1 | set_2) #UNION

{1, 2, 3, 4, 10, 15, 20, 30}

In [11]:
print(set_1 & set_2) #INTERSECTION

{10, 3}

In [12]:
print(set_1 - set_2) #DIFFERENCE

{1, 2, 4, 15}

In [13]:
print(set_1 ^ set_2) #SYMMETRIC DIFFERENCE

{1, 2, 4, 15, 20, 30}

In [14]:
print((set_1 | set_2) - (set_1 & set_2)) #SYMMETRIC DIFFERENCE

{1, 2, 4, 15, 20, 30}