## Data Structures

### Lists

In [2]:
list_int = [10, 20, 30, 40]
print(list_int)

[10, 20, 30, 40]

In [4]:
list_mix = ["Python", 10, "Java"]
print(list_mix)

['Python', 10, 'Java']

In [6]:
nested_list = ["Python", 10, "Java", [10,20]]
print(nested_list)

['Python', 10, 'Java', [10, 20]]

In [8]:
nested_list[-1]

[10, 20]

In [9]:
nested_list[0:2]

['Python', 10]

In [17]:
new_list = nested_list+[40,50]
print(new_list)

['Python', 10, 'Java', [10, 20], 40, 50]

In [18]:
new_list[0] = 'R Language'

In [19]:
new_list

['R Language', 10, 'Java', [10, 20], 40, 50]

In [20]:
list1 = ['Chemistry', 'Biology', [1984,1999], ('Xyz', 'Abc')]

In [21]:
list1

['Chemistry', 'Biology', [1984, 1999], ('Xyz', 'Abc')]

In [22]:
list1.extend([5,10])

In [23]:
list1

['Chemistry', 'Biology', [1984, 1999], ('Xyz', 'Abc'), 5, 10]

In [24]:
list1.append([15,20])

In [25]:
list1

['Chemistry', 'Biology', [1984, 1999], ('Xyz', 'Abc'), 5, 10, [15, 20]]

In [26]:
len(list1)

7

In [27]:
list1[-1]

[15, 20]

In [28]:
del list1[-1]

In [29]:
list1

['Chemistry', 'Biology', [1984, 1999], ('Xyz', 'Abc'), 5, 10]

In [30]:
list1.remove('Biology')

In [31]:
list1

['Chemistry', [1984, 1999], ('Xyz', 'Abc'), 5, 10]

#### Sorting of a list

In [44]:
A = [2,3,4,1,5,10]
B = A.sort()
print(B)

None

In [39]:
A.sort()

In [40]:
A

[1, 2, 3, 4, 5, 10]

In [41]:
A = [2,3,4,1,5,10]
C = sorted(A)

In [42]:
print(C)

[1, 2, 3, 4, 5, 10]