## Loops & Iteration

### Loops

#### Check whether a number is even or odd

In [8]:
x = 101

if x % 2 == 0:
    print(x, "is an Even number")
else:
    print(x, "is an Odd number")

101 is an Odd number

In [10]:
x = int(input("Enter your age: "))

if x % 2 == 0:
    print(x, "is an Even number")
else:
    print(x, "is an Odd number")

Enter your age: 21
21 is an Odd number

#### < 18 & > 50 are not allowed for the party. --> 18 or above and 50 and below are allowed for the party.

In [14]:
x = int(input("Enter your age: "))

if x < 18 or x > 50:
    print("Sorry!! You are not allowed for the party")
else:
    print("Welcome to the party")

Enter your age: 17
Sorry!! You are not allowed for the party

#### Program which offers various discounts on purchase bills

In [18]:
shop_total = int(input("Input your billed amount: "))

if shop_total >=5000:
    print("You have won a voucher of Rs. 1000/-")
elif shop_total >=2500:
    print("You have won a voucher of Rs. 500/-")
else:
    print("OOPS!! No discount for you!!")

Input your billed amount: 1000
OOPS!! No discount for you!!

### Iteration

In [20]:
#Iterate over a list of integers

list_1 = [10,20,30,40,50]
for num in list_1:
    print(num)

10
20
30
40
50

In [21]:
#Iterate over a String

str_1 = "Odisha"
for ch in str_1:
    print(ch)

O
d
i
s
h
a

In [26]:
#Iterate over a dictionary

students_data = {1: ['Sam', 25], 2:['Sharma',28], 3:['Ravi',22], 4:['Sid',23], 5:['Varun',24]}

for key,val in students_data.items():
    print(val)

['Sam', 25]
['Sharma', 28]
['Ravi', 22]
['Sid', 23]
['Varun', 24]

In [27]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [28]:
range(1,101)

range(1, 101)

In [29]:
#Iterate over a range of values

for i in range(1,5):
    print(i)

1
2
3
4

### Comprehensions

In [30]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(i)
    
print(list_2)

['Automobiles', 'Honda', 'Benz', 'Maruti', 'Kia']

In [31]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(len(i))
    
print(list_2)

[11, 5, 4, 6, 3]

In [32]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = [len(i) for i in list_1]
    
print(list_2)

[11, 5, 4, 6, 3]

In [33]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

d = {i: len(i) for i in list_1}

d

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}